#PROC8C CLK=P45
#PROC8D CLK=P13
#proc8e clk=p45=hclock
#proc8f clk=p45=hclock
#proc8g clk=p13=hclock
#proc8h clk=p13=hclock data lines bidirectional
#proc8i clk=p45=hclock

NET CLK		LOC=P13;
#NET CLK		LOC=P45;
NET RST		LOC=P44;
#NET LEFT	LOC=P19;
#NET RIGHT	LOC=P18;
NET LEFT	LOC=P67;
NET RIGHT	LOC=P68;

NET CS		LOC=P65; 
NET RD		LOC=P61; 
NET WR		LOC=P62;

NET PH0		LOC=P25;
NET PH1		LOC=P26;
NET INS0	LOC=P18;
NET INS1	LOC=P19;
NET INS2	LOC=P20;
NET INS3	LOC=P23;
NET INS4	LOC=P24;

NET ODD		LOC=P3;  # UPPER BYTE OF ADDRESS
NET MA<0>	LOC=P4;
NET MA<1>	LOC=P5;
NET MA<2>	LOC=P78;
NET MA<3>	LOC=P79;
NET MA<4>	LOC=p82;
NET MA<5>	LOC=P83;
NET MA<6>	LOC=P84;
#NET ODD		LOC=P78;  # UPPER BYTE OF ADDRESS
#NET MA<0>	LOC=P79;
#NET MA<1>	LOC=P82;
#NET MA<2>	LOC=P83;
#NET MA<3>	LOC=P84;
#NET MA<4>	LOC=p3;
#NET MA<5>	LOC=P4;
#NET MA<6>	LOC=P5;
NET MA<7>	LOC=P59; # UPPER BYTE OF ADDRESS
NET MA<8>	LOC=P57;
NET MA<9>	LOC=P51;
NET MA<10>	LOC=P56;
NET MA<11>	LOC=P50;
NET MA<12>	LOC=P58;
NET MA<13>	LOC=P60;
NET MA<14>	LOC=P28;
NET MA<15>	LOC=P69;


NET DATA<0>	LOC=P41; # DATA BUS
NET DATA<1>	LOC=P40;
NET DATA<2>	LOC=P39;
NET DATA<3>	LOC=P38;
NET DATA<4>	LOC=P35;
NET DATA<5>	LOC=P81;
NET DATA<6>	LOC=P80;
NET DATA<7>	LOC=P10;


